* {
margin: 0;
padding: 0;
box-sizing: border-box;
transition: 0.3s ease-in-out;
font-family: var(--plus-jakarta-sans);
}

:root {
--primary-color: #56c4f2;
--secondary-color: #32a9dc;
--third-color: #00b3ff;
--plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
--rubik: "Rubik", sans-serif;
}

/* navbar */
.nav-link {
color: gray;
}

.nav-link.active {
color: var(--primary-color) !important;
font-weight: 600;
}
.bx-menu {
color: var(--primary-color);
}
.navbar {
z-index: 9;
background-color: white;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.068);
}
.navbar-toggler.active {
transform: rotate(90deg);
}
.navbar-toggler:focus {
box-shadow: none;
}
.nav-link:hover {
color: var(--primary-color);
}
.bx-menu {
  color: var(--primary-color);
  font-size: 36px!important;
}
#user {
    font-size: 40px;
    color: var(--primary-color);
}

/* update */

.sign .login button {
background: #56c4f2;
border: 1px solid #56c4f2;
border-radius: 20px;
border: none;
color: white;
padding: 6px 16px;
font-size: 14px;
font-weight: 500;
}
.sign .signup button {
padding: 6px 16px;
border: none;
    border: 1px solid #56c4f2;
color: var(--primary-color);
font-size: 14px;
font-weight: 500;
border-radius: 20px;
background-color: transparent;
}

/* hover */
.sign ul li a:hover {
color: var(--primary-color);
}
.sign .login button:hover {
background: var(--secondary-color);
}
.sign .signup button:hover {
color: white;
background: var(--secondary-color);
}
/* hover */

/* navbar */

/* hero */

.hero .container-hero{
padding-top: 50px;
}

.hero{
position: relative;
padding-top: 5%;

}
/* hero */

/* rekomendasi makanan */
.rekomendasi-makanan .card-title{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 24px;
}
.rekomendasi-makanan .card-text{
    font-weight: 300;
    font-size: 14px;
}
/* rekomendasi makanan */

/* rekomendasi olahraga */
.rekomendasi-olahraga .card-title{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 24px;
}
.rekomendasi-olahraga .card-text{
    font-weight: 300;
    font-size: 14px;
}
/* rekomendasi olahraga */
/* button */
.btn-primary{
    background-color: var(--primary-color)!important;
    border: none;
    padding: 12px 20px;
}
/* button */
/* content */

h2, h4{
    color: #56C4F2;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hr-lines{
    position: relative;
    color: #56C4F2;
    width: auto;
}
  
.rekomendasi-makanan, .rekomendasi-olahraga{
    padding: 2%;
}

.row .no-gutters{
    align-items: center;
    padding-left: 3%;
}
/* content */


@media (max-width: 991.98px) {
.hero-wrapper {
    justify-content: center;
    padding-top: 80px;
}
#title {
    font-size: 36px;
}
#description {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    color: #a0a1a2;
}
#btn-hero a {
    font-size: 14px;
}
/* service */
.services {
    position: relative;
    width: 100%;
    bottom: -100px;
    z-index: 1;
}
.diet .diet-header h1 {
    font-family: var(--plus-jakarta-sans);
    font-weight: 700;
    font-size: 32px;
    color: var(--primary-color);
}
.diet .diet-header p {
    margin-top: 10px;
    color: #a0a1a2;
    font-family: var(--plus-jakarta-sans);
    font-weight: 300;
    font-size: 12px;
    width: 100%;
}
.diet .btn-diet button {
    background: var(--primary-color);
    border: 1px solid #56c4f2;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 60px;
}
/* service */

/* tentang kami */
.tentang-kami .row .img .border-img {
    display: none;
}
.tentang-kami #judul {
    font-weight: 700;
    font-size: 36px;
    width: 100%;
}
.tentang-kami .row .content h1 {
    font-weight: 700;
    font-size: 18px;
}
.tentang-kami .row .content p {
    font-size: 14px;
    margin-top: 10px;
}
.tentang-kami .row .content button {
    font-size: 14px;
    padding: 10px 20px;
}

/* tentang kami */

/* gizi  seimbang */
.gizi .text h1 {
    font-family: var(--plus-jakarta-sans);
    font-weight: 700;
    font-size: 32px;
}
.gizi .text p {
    margin-top: 10px;
    font-family: var(--plus-jakarta-sans);
    font-weight: 300;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
}

.gizi .text button {
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    color: var(--primary-color);
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 00;
    width: fit-content;
    margin: 20px auto 0 auto;
}
/* gizi seimbang */

/* makanan */
.makanan .content {
    margin-top: 20px;
}
/* makanan */
/* olahraga */
.olahraga .content {
    margin-top: 20px;
}
/* olahraga */
}